@import url('https://fonts.googleapis.com/css2?family=Google+Sans&family=Londrina+Shadow&display=swap');

body {
    font-family: 'Google Sans', sans-serif;
    background-color: #e7bd7e;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: 'Londrina Shadow', cursive;
    color: #3a389e;
    text-align: center;
    font-size: 60px;
}

h2 {
    color: #5c3d2e;
}

h3 {
    color: #333333;
    line-height: 1.5;
}

p {
    line-height: 1.6;
}

img {
    border-radius: 10px;
}